{% extends "layout.html" %}
{% block content %}
    <h1>Dashboard goes here</h1>

    <div id="map-Div">
    	
    	<!-- Map -->

    </div>

    <div id="hoverinfo" style="margin-left:80px;"></div>

{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='dataFetch.js') }}"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
<script type="text/javascript">
		window.onload = function() {
		drawMap();
		console.log('ran')
	};
</script>

{% endblock %}
